# EXPERIMENTS IN HOME
NER_HOME/PREC-REC/
NER_HOME/CAT_FST/
NER_HOME/DATA/
NER_HOME/NER-CONTINUOUS-GT/
NER_HOME/NER-NoRep/
NER_HOME/ALT_NOT_PARENTHESIZED_lang/
NER_HOME/ALT_NOT_PARENTHESIZED_model/
NER_HOME/ALT_NOT_PARENTHESIZED_TEXT/
NER_HOME/ALT_NOT_PARENTHESIZED_TMP/
NER_HOME/NOT_PARENTHESIZED_lang/
NER_HOME/NOT_PARENTHESIZED_model/
NER_HOME/NOT_PARENTHESIZED_TEXT/
NER_HOME/NOT_PARENTHESIZED_TMP/
NER_HOME/lang/
NER_HOME/model/
NER_HOME/TMP/
NER_HOME/TEXT/

#EXPERIMENTS IN GW
NER_GW/washingtondb-v1.0/
NER_GW/PREC-REC/
NER_GW/CAT_FST/
NER_GW/DATA/
NER_GW/NER-CONTINUOUS-GT/
NER_GW/NER-NoRep/
NER_GW/char/
NER_GW/compressed_source_files/
NER_GW/gw/
NER_GW/NER/
NER_GW/ALT_NOT_PARENTHESIZED_lang/
NER_GW/ALT_NOT_PARENTHESIZED_model/
NER_GW/ALT_NOT_PARENTHESIZED_TEXT/
NER_GW/ALT_NOT_PARENTHESIZED_TMP/
NER_GW/NOT_PARENTHESIZED_lang/
NER_GW/NOT_PARENTHESIZED_model/
NER_GW/NOT_PARENTHESIZED_TEXT/
NER_GW/NOT_PARENTHESIZED_TMP/
NER_GW/PARENTHESIZED_TMP/
NER_GW/lang/
NER_GW/model/
NER_GW/TMP/
NER_GW/TEXT/

#EXPERIMENTS IN IAM
NER_IAM/PREC-REC/
NER_IAM/CAT_FST/
NER_IAM/DATA/
NER_IAM/NER-CONTINUOUS-GT/
NER_IAM/NER-NoRep/
NER_IAM/char/
NER_IAM/compressed_source_files/
NER_IAM/gw/
NER_IAM/NER/
NER_IAM/ne_annotations/

NER_IAM/ALT_18_NOT_PARENTHESIZED_lang/
NER_IAM/ALT_18_NOT_PARENTHESIZED_model/
NER_IAM/ALT_18_NOT_PARENTHESIZED_TEXT/
NER_IAM/ALT_18_NOT_PARENTHESIZED_TMP/
NER_IAM/18_NOT_PARENTHESIZED_lang/
NER_IAM/18_NOT_PARENTHESIZED_model/
NER_IAM/18_NOT_PARENTHESIZED_TEXT/
NER_IAM/18_NOT_PARENTHESIZED_TMP/
NER_IAM/18_lang/
NER_IAM/18_model/
NER_IAM/18_TMP/
NER_IAM/18_TEXT/

NER_IAM/ALT_6_NOT_PARENTHESIZED_lang/
NER_IAM/ALT_6_NOT_PARENTHESIZED_model/
NER_IAM/ALT_6_NOT_PARENTHESIZED_TEXT/
NER_IAM/ALT_6_NOT_PARENTHESIZED_TMP/
NER_IAM/6_NOT_PARENTHESIZED_lang/
NER_IAM/6_NOT_PARENTHESIZED_model/
NER_IAM/6_NOT_PARENTHESIZED_TEXT/
NER_IAM/6_NOT_PARENTHESIZED_TMP/
NER_IAM/6_lang/
NER_IAM/6_model/
NER_IAM/6_TMP/
NER_IAM/6_TEXT/