# EXPERIMENTS IN HOME
NER_HOME/PREC-REC/
NER_HOME/CAT_FST/
NER_HOME/DATA/
NER_HOME/NER-CONTINUOUS-GT/
NER_HOME/NER-NoRep/
NER_HOME/ALT_NOT_PARENTHESIZED_lang/
NER_HOME/ALT_NOT_PARENTHESIZED_model/
NER_HOME/ALT_NOT_PARENTHESIZED_TEXT/
NER_HOME/ALT_NOT_PARENTHESIZED_TMP/
NER_HOME/NOT_PARENTHESIZED_lang/
NER_HOME/NOT_PARENTHESIZED_model/
NER_HOME/NOT_PARENTHESIZED_TEXT/
NER_HOME/NOT_PARENTHESIZED_TMP/
NER_HOME/lang/
NER_HOME/model/
NER_HOME/TMP/
NER_HOME/TEXT/

#EXPERIMENTS IN GW

#EXPERIMENTS IN IAM
